DEPLOYMENT_URL=https://your-docusaurus-site.example.com
DEPLOYMENT_BRANCH=main
BASE_URL=/my-dev-blog/
GITHUB_ORG=Gerth123
GITHUB_PROJECT=my-dev-blog
GIT_REPOSITORY_URL=https://github.com/Gerth123/my-dev-blog
TEMPLATE_REPOSITORY_URL=https://github.com/Developer-Akademie-DevSecOpsKurs/dev-blog-template