DEPLOYMENT_URL=https://your-docusaurus-site.example.com
DEPLOYMENT_BRANCH=main
BASE_URL=/dev-blog-template/
GITHUB_ORG=spmse
GITHUB_PROJECT=dev-blog-template
GIT_REPOSITORY_URL=https://github.com/Gerth123/my-dev-blog
TEMPLATE_REPOSITORY_URL=https://github.com/Developer-Akademie-DevSecOpsKurs/dev-blog-template